{% extends "base.html" %}

{% block title %}
AI Healthcare Chatbot
{% endblock %}

{% block content %}

<div class="chat-container">

    <h1>
        🤖 Bisworupa AI Healthcare Assistant
    </h1>

    <p class="warning">
        This assistant provides general information only.
        It is not a substitute for a qualified medical professional.
    </p>


    <div id="chatBox" class="chat-box">

        <div class="message bot">

            Hello! 👋

            <br><br>

            Welcome to Bisworupa Healthcare.

            <br><br>

            You can ask me about doctors,
            departments and appointments.

        </div>

    </div>


    <div class="chat-input">

        <input
            type="text"
            id="message"
            placeholder="Type your question..."
        >

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

{% endblock %}